.App {
    text-align: center;
}

button {
    cursor: pointer;
}

.flex {
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    margin: auto;
}

.menuOption {
    color: black;
    font-family: fantasy;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;

}

.menuOption:hover{
    color: white;
    background-color: black;
}